@font-face
{
    font-family: "Bebas Neue";
    src: url("fonts/BebasNeue") format("otf");
}

@media all and (min-width: 700px) {
    .container-right-content {
        font-size: 16px;
    }
}

@media all and (min-width: 1400px) {
    .container-right-content {
        font-size: 20px;
    }
}

p
{
    color:#474747;
    line-height: 150%;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 30px;  
}

h2
{
    line-height: :2;
    font-size: 60px;
    letter-spacing: 3px; 
    color: #b3a0cd;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html
{
    width: 100%;
    height: 100%;
    background-color: black;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    text-align: left;
	line-height: 1.6em;
    overflow: auto;
}

table img 
{
    max-width: 90%;
}

footer
{
    width: 1050px;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

a
{
    color:#474747;
    line-height: 150%;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a:hover
{
    color: #b3a0cd;
}

#splitscreen-logo
{
    width: 100%;
    padding: 320px 0 0 40px;
}

.explore-text
{
    position: absolute;
    margin: 85px 0 0 100px;
    transform: rotate(-1.9deg);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    letter-spacing: 5px;
    color: #b3a0cd;
}

.social-media-icons
{
    position: absolute;
    z-index: 1;
    transform: rotate(-2.2deg);
    padding: 49px 0 0 770px;
}

.social-media-icons img
{
    max-width: 10%;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

.footer 
{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

.container
{
  padding: 0 0 50px 0;
}

.container img
{
    width: 100%;
    height: auto;
}

.container-right
{
    position: absolute; 
    width: 1150px;
    height: 900px;
    margin: 0 0 0 750px;
}

.container-right img
{
    padding: 30px 0 0 0px;
    width: 100%;
    height: 100%;
}

.container-right-content
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: absolute;
    margin: 330px 100px 0 820px;
}

.container-right-content td,th
{
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

.container-left
{
    position: absolute;
    width: 630px;
    margin: 40px 10px 0 50px;
}

.container-left-content
{
    position:absolute;
    padding: 100px;
    line-height: :2;
    letter-spacing: 3px; 
}

.container-left-content button
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    border: none;
    background-color: none;
    cursor: pointer;
    background: none;
    z-index = 1;
}

.menu-button-default
{
    color: #ffff;
}

.menu-button-clicked
{
    color: #b3a0cd;
}

.container-left-content button:hover
{
   color: #b3a0cd;
}

.container-left-content table
{
    margin: 420px 0 0 500px;
    text-align: right;
}